* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin: 2.5vh 0 2.5vh 17vw;
}

.logo-img {
  height: 5vh;
  width: 5vh;
  margin-right: 1.5vw;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
  height: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(186 230 253 / var(--tw-bg-opacity));
  /* background-color: steelblue; */
  padding: 4.5vh 0 4.5vh 0;
  margin: 0 17vw 5vh 17vw;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
}

.user-input {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 6vh;
  padding-right: 6vh;
  margin-right: 50px;
  border-radius: 10px;
}
.search-btn {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 6vh;
  padding-right: 6vh;
  border-radius: 10px;
  margin-left: 50px;
}

.search-btn:hover {
  color: steelblue;
}

/* the result */

.noData {
  display: flex;
  flex-direction: column;
  background-color: #fd9090;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin: 0 17vw 0 17vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
}

.errorData {
  display: flex;
  flex-direction: column;
  background-color: #fd9090;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin: 0 17vw 0 17vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
}

.result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  --tw-bg-opacity: 1;
  background-color: rgb(186 230 253 / var(--tw-bg-opacity));
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin: 2.5vh 35vw 0 35vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
}

.headings {
  margin: 0 0 1.5vh 0;
}

.coordinates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 1.5vh 0;
}

.img-weather {
  width: 12vh;
  height: 12vh;
  margin: 5vh 0 0 0;
}

.info1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 0 2vh 0;
}
